name: Nix
on:
  push:
    branches: [main]
    paths:
      - "flake.nix"
      - "flake.lock"
      - "nix/**"
      - "dist/nix/**"
  pull_request:
    paths:
      - "flake.nix"
      - "flake.lock"
      - "nix/**"
      - "dist/nix/**"
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - run: nix flake check
