name: Publish VSCode Extension

on:
  push:
    tags:
    - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-node@v6
      with:
        node-version: 24

    - name: Update version in package.json
      run: npm pkg set version="${GITHUB_REF_NAME#v}"
      working-directory: ./dist/vscode

    - name: Publish to Visual Studio Marketplace
      uses: HaaLeo/publish-vscode-extension@v2
      with:
        pat: ${{ secrets.VSCE_PAT }}
        registryUrl: https://marketplace.visualstudio.com
        packagePath: ./dist/vscode
