name: Publish to crates.io

on:
  push:
    tags:
    - 'v*'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Setup Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Publish to crates.io
      if: startsWith(github.ref, 'refs/tags/')
      run: cargo publish --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
